---
layout: default
index: true
title: Xpenguin
subtitle: "A podcast about ting"
image: "emblem.jpg"
---
{% include site_header.html %}
<section id="pagelist">
	<ul id="pages">
		{% for page in paginator.posts %}
			<li>
				<article>
					{% include post_heading.html %}
					{% include byline.html %}
					<div class="excerpt">
					{% if page.podcast %}
						{% include mp3_player.html %}
					{% else %}
						{% if page.content contains '<!--more-->' %}
    							{{ page.content | split:'<!--more-->' | first }}
						{% else %}
							{{ page.excerpt }}
						{% endif %}
					{% endif %}
					</div>
				</article>
			</li>
		{% endfor %}
	</ul>
</section>
{% include pagination.html %}
		
