<section id="sharelinks">
	<h2>Share</h2>
	<ul id="share">
		<li><a class="social" id="tw" href="https://twitter.com/intent/tweet?text={{ page.title }}: {{ page.subtitle }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" /></a></li>
		<li><a class="social" id="fb" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" /></a></li>
		<li><a class="social" id="go" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" /></a></li>
	</ul>
	<div id="comments">Want to discuss this game or Linux gaming in general? <a href="https://www.reddit.com/r/linux_gaming/">/r/linux_gaming/</a> is a great place for that.</div>
	<hr></hr>
</section>
